html {
    margin: 10px;
    height: 90vh;
    width: 60vw;
}

main p {
    font-size: 30px;
    font-weight: bold;
}

header,
aside,
main,
footer {
    background-color: rgba(135, 189, 250, 0.721);
    border-radius: 4px;
    padding: 16px 10px;
}


