@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif', serif;
}

.card-container {
    display: flex;
    height: 400px;
    width: 840px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    background-image: url('image/image1.png');
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* LEFT */
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 16px;

}

.card-info header {
    border-bottom: 1px solid green;
}

.card-info header h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 2px;
}

.card-info .additional-info {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    font-style: italic;
    font-size: 13px;
}

.card-info main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.card-info span {
    font-weight:bold;
    color: green
}

.card-info ul {
    all: unset;
    list-style: none;
    
}
.card-info ul li{
    padding: 1px;
}
.card-info .nutrients {
    margin-bottom: auto;
}

.card-info table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid green;
    text-align: center;
}

/* RIGHT */

.card-img {
    background: url('image/kiwi-smoothie.jpg');
    width: 50%;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}