body {
    background-color: rgb(233, 233, 233);
    margin: 100px 80px;
}

body,
ul,
li {
    display: flex;
    flex-wrap: wrap;
}

ul {
    justify-content: space-between;
    gap: 42px;
    flex-wrap: wrap;
}

li {
    background-color: white;
    border: 8px solid black;
    flex: 1 0 27%;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    list-style-type: none;
    box-shadow: 2px 2px 8px black inset;
}