
header {
    width: 100%;
    border-bottom: 2px solid black;
}
header p{
    font-size: 30px;
    font-weight: bold;
}
body{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color:rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif ;
}
footer{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    margin-top: auto;
}

p, h2{
    margin: 20px;
}

h2{
    margin-top: 50px;
}